* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(187, 31, 31);
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    background-color: rgb(26, 173, 156);
}

h1 {
    font-size: 2rem;
    color: #333333;
    margin-bottom: 20px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 600;
    color: #333333;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.cell:hover {
    background-color: #f39c12;
}

.status-message {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #333333;
}

.reset-button {
    padding: 10px 20px;
    background-color: #ece10d;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reset-button:hover {
    background-color: #76731b;
}

@media screen and (max-width: 500px) {
    .game-board {
        grid-template-columns: repeat(3, 80px);
        grid-gap: 8px;
    }

    .cell {
        width: 80px;
        height: 80px;
        font-size: 2rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    .status-message {
        font-size: 1rem;
    }
}
